*, *:before, *:after{
  box-sizing: border-box;
}

input{
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 21px);
  width: 300px;
  background: blanchedalmond;
  font-size: 30px;
}

p{
  position: absolute;
  left: calc(50% - 19.5px);
  top: calc(50% + 20px);
  font-size: 25px;
  font-weight: 500;
}