*, *:before, *:after{
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

main {
  border: 1px solid;
	max-width: 500px;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 205px);
	padding: 50px;
  background-color: coral;
}

input{
  margin: 0 0 10px 0px;
  width: 400px;
  background: blanchedalmond;
  font-size: 30px;
}
